<div class="subscribe-area bg-white pt-50 pb-50">
    <div class="container">
        <div class="row">

        </div>
    </div>
</div>
<footer class="footer-area bg-white">
    <div class="footer-top border-bottom-4 pb-55">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="footer-widget mb-40">
                        <h3 class="footer-title">Quick Shop</h3>
                        <div class="footer-info-list info-list-50-parcent">
                            <ul>

                                <li><a href="/viewAll">Shop All</a></li>
                                <h5>Category</h5>
                                {{#each headerDetails.categories}}
                                <li> <a href="/viewAll/{{this._id}}">{{this.category}}</a></li>
                                {{/each}}

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="footer-widget ml-70 mb-40">
                        <h3 class="footer-title">useful links</h3>
                        <div class="footer-info-list">
                            <ul>
                                <li><a href="/account">My Account</a></li>
                                <li><a href="/wishlist">My Wishlish</a></li>
                                <li><a href="/viewAll">Shop</a></li>
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="#">Term & Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Track Order</a></li>
                                
                                
                                <li><a href="#">Returns/Exchange</a></li>
                                <li><a href="#">FAQs</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="footer-widget mb-40">
                        <h3 class="footer-title">Contact Us</h3>
                        <div class="contact-info-2">
                            <div class="single-contact-info-2">
                                <div class="contact-info-2-icon">
                                    <i class="bi bi-telephone"></i>
                                </div>
                                <div class="contact-info-2-content">
                                    <p>Got a question? Call us 24/7</p>
                                    <h3 class="orange">(+111) 111 11-11-11 </h3>
                                </div>
                            </div>
                            <div class="single-contact-info-2">
                                <div class="contact-info-2-icon">
                                    <i class="icon-mailbox icons"></i>
                                </div>
                                <div class="contact-info-2-content">
                                    <p>asm aura orange company </p>
                                </div>
                            </div>
                            <div class="single-contact-info-2">
                                <div class="contact-info-2-icon">
                                    <i class="bi bi-envelope-open"></i>
                                </div>
                                <div class="contact-info-2-content">
                                    <p>aura@gmail.com</p>
                                </div>
                            </div>
                        </div>
                        <div class="social-style-1 social-style-1-font-inc social-style-1-mrg-2">
                            <a href="#"><i class="bi bi-twitter"></i></a>
                            <a href="#"><i class="bi bi-facebook"></i></a>
                            <a href="#"><i class="bi bi-instagram"></i></a>
                            <a href="#"><i class="bi bi-youtube"></i></a>
                            <a href="#"><i class="bi bi-pinterest"></i></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom pt-30 pb-30 ">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-6 col-md-6">
                    <div class="payment-img payment-img-right">
                        <a href="#"><img src="assets/images/icon-img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="copyright copyright-center">
                        <p>Copyright © 2023 Auraalmst oasd | <a href="https://hasthemes.com/">Built with <span>asm</span>
                                by Aura</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Modal -->
